body{
    font-family: sans-serif;
}

.card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width:200px;
}
.card-img{
    width: 100%;
    border-radius: 10px;
    justify-content: center;
}
/* .parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /*to make responsic=ve*/
 
/* .flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
} */

.helpbutton{
    border: none;
    background-color: black;
    border-radius: 40px;
    padding: 16px 20px;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 60px;
}