/* * {
    height: 10px;
    margin: 10px 0px;
} */

#div1 {
    background-color: yellow;
    width: 5in;
}

#div2 {
    background-color: red;
    width: 5cm;
}

#div3 {
    background-color: blue;
    width: 5mm;
}

#div4 {
    background-color: green;
    width: 5px;
}

/* html {
    font-size: 32px;
}

body {
    font-size: 16px;
} */

#h1 {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    text-decoration: dashed line-through gold;
}

#h2 {
    font-family: monospace;
    font-size: 1em;
    text-align: end;
    text-decoration: dotted underline green;
}

#h3 {
    font-family: cursive;
    font-size: 100%;
    font-style: oblique;
    text-align: justify;
    text-decoration: double overline red;
    text-transform: capitalize;
    word-spacing: 20px;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px black;
}

#h4 {
    font-family: serif;
    font-size: 30px;
    font-variant: normal;
    text-align: right;
    text-decoration: wavy line-through blueviolet;
}

#h5 {
    font-family: fantasy;
    font-size: 1cm;
    text-align: start;
    text-decoration: solid yellow;
    letter-spacing: 5px;
    text-shadow: 5px 5px 3px silver;
}

#section1 {
    height: 100px;
    width: 100px;
    border: 2px black;
    border-style: solid;
    border-width: 4px;
    border-radius: 100px;
    box-shadow: 3px 4px 6px rgb(225, 255, 0), -3px -4px 6px rgb(255, 0, 0);
}


#div7 {
    background: yellow;
    height: 25px;
    margin: 10px 20px 30px 40px;
}

#section2 {
    border: 5px solid red;
}

#div8 {
    background: yellow;
    height: 25px;

}

#section3 {
    border: 5px solid red;
    padding: 10px 20px 30px 40px;
}

#div9 {
    height: 100px;
    width: 100px;
    padding: 20px;
    background-color: aqua;
    box-sizing: content-box;
}

#div10 {
    height: 100px;
    width: 100px;
    padding: 20px;
    background-color: blue;
    box-sizing: border-box;
}