body {
    font-family: Arial;
    background: #f2f2f2;
}
.title1{
    text-align:center;
    height:50px;
    border: 1px solid #ddd;
    max-width: 680px;
    margin: auto;
    color:blue;
    padding-top:25px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.title {
    
    text-align: center;
    /* align-item:center; */
    max-width: 680px;
    color:white;
    margin: auto;
    background: #ee02ffff;
    height:60px;
    padding-top:25px;
}

.form-box {
    margin-top:20px;
    width: 85%;
    max-width: 600px;
    background: #f5dbf7ff;
    padding: 40px;
    margin: auto;
    border: 1px solid #ddd;
}

label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.row input[type="radio"],
.row input[type="checkbox"] {
    width: auto;
}

.table {
    width: 100%;
    margin-top: 10px;
}

.table input {
    width: 95%;
    padding: 5px;
}

.btn {
    padding: 10px 15px;
    border: none;
    margin-top: 20px;
    
}
.btn1{
    display: flex;
    justify-content: flex-end; 
    gap:10px;
}

.reset {
    background: #ffffffff;
    border-radius:5px;
}

.submit {
    background: purple;
    color: white;
    border-radius:5px;
}
.title2{
    text-align:center;
    height:50px;
    border: 1px solid #ddd;
    max-width: 680px;
    margin: auto;
    color:blue;
    padding-top:25px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    margin-top: 20px;
}