* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;

}

div {
    border-radius: 50%;
}

#sunorbit {
    height: 600px;
    width: 600px;
    border: 2px solid black;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

#sun {
    height: 200px;
    width: 200px;
    /* border: 2px solid red; */
    background: radial-gradient(circle, orange 20%, yellow 55%, rgb(217, 235, 95));
}

#earthorbit {
    height: 210px;
    width: 210px;
    position: absolute;
    border: 2px solid;
    display: grid;
    place-content: center;
    background-color: transparent;
}

#earth {
    height: 100px;
    width: 100px;
    border: 2px solid;
    background-color: green;
}

#moon {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: rgb(99, 99, 99);
    position: absolute;
    top: 15px;
    left: 15px;
}

#sunorbit:hover,
#sunorbit:hover #earthorbit {
    transform: rotate(1440deg);
    transition: all 10s linear;
}